<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CarrinhoFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.CarrinhoFilter</filter-class>
    </filter>
    <filter>
        <description>Filtro para validar a session do usuario</description>
        <filter-name>SessionFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.ValidaSession</filter-class>
    </filter>
    <filter>
        <filter-name>AutenticarRootFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.AutenticarRootFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CarregaCepFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.CarregaCepFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EditarJogoFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.EditarJogo</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.LoginFiltro</filter-class>
    </filter>
    <filter>
        <filter-name>LogoffFilter</filter-name>
        <filter-class>games.com.core.impl.negocio.filtros.LogoffFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CarrinhoFilter</filter-name>
        <url-pattern>/Carrinho</url-pattern>
        <url-pattern>/RemoveItem</url-pattern>
        <url-pattern>/LimparCarrinho</url-pattern>
        <url-pattern>/CalcularFrete</url-pattern>
        <url-pattern>/AtualizarQuantidade</url-pattern>
        <url-pattern>/SelecionarEndereco</url-pattern>
        <url-pattern>/SelecionaPagamento</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/SelecionarPagamento</url-pattern>
        <url-pattern>/ConfirmaEndereco.jsp</url-pattern>
        <url-pattern>/Pedidos.jsp</url-pattern>
        <url-pattern>/MetodoPagamento.jsp</url-pattern>
        <url-pattern>/DesativarConta</url-pattern>
        <url-pattern>/DesativarConta.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutenticarRootFilter</filter-name>
        <url-pattern>/root/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CarregaCepFilter</filter-name>
        <url-pattern>/CarregaCep</url-pattern>
        <url-pattern>/BuscaCep</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EditarJogoFilter</filter-name>
        <url-pattern>/root/EditarJogo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ValidaUsuario</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogoffFilter</filter-name>
        <url-pattern>/Logoff</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Servlet Principal do Sistema</description>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>games.com.core.impl.controle.Servlet</servlet-class>
        <init-param>
            <param-name>operacao</param-name>
            <param-value>Consultar</param-value>
        </init-param>
    </servlet>
    <!-- Servlet CeWolf + JFreeChart -->
    <servlet>
        <servlet-name>CewolfServlet</servlet-name>
        <servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
        <init-param>
            <param-name>storage</param-name>
            <param-value>de.laures.cewolf.storage.TransientSessionStorage</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CewolfServlet</servlet-name>
        <url-pattern>/cewolf/*</url-pattern>
    </servlet-mapping>
    <!-- Fim da Servlet CeWolf -->
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/SalvarItem</url-pattern>
        <url-pattern>/root/AtualizaQuantidade</url-pattern>
        <url-pattern>/AtualizarEnderecoEntrega</url-pattern>
        <url-pattern>/ConsultarPedido</url-pattern>
        <url-pattern>/AtualizarCliente</url-pattern>
        <url-pattern>/FinalizarCompra</url-pattern>
        <url-pattern>/root/SalvarJogo</url-pattern>
        <url-pattern>/InfoJogo</url-pattern>
        <url-pattern>/PagamentoCartao</url-pattern>
        <url-pattern>/root/ConsultaJogos</url-pattern>
        <url-pattern>/SalvarCliente</url-pattern>
        <url-pattern>/ConsultarClient</url-pattern>
        <url-pattern>/SalvarEnderecoEntrega</url-pattern>
        <url-pattern>/root/AtualizarJogo</url-pattern>
        <url-pattern>/AddGame</url-pattern>
        <url-pattern>/PagamentoDiretoBoleto</url-pattern>
        <url-pattern>/ConsultarTodos</url-pattern>
        <url-pattern>/PagamentoBoleto</url-pattern>
        <url-pattern>/SalvarJogo</url-pattern>
        <url-pattern>/DetalhePedido</url-pattern>
        <url-pattern>/ExcluirCliente</url-pattern>
        <url-pattern>/ConsultaJogos</url-pattern>
        <url-pattern>/root/ExcluirJogo</url-pattern>
        <url-pattern>/VisualizarCarrinho</url-pattern>
        <url-pattern>/DesativarConta</url-pattern>
        <url-pattern>/SegundaViaBoleto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
